@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Franklin:wght@400;600&display=swap");

body {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  margin: 0;
  padding: 0;
}

.gofish {
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  width: 280px;
  height: 380px;
  margin: 2px;
  border: 20px solid #ff3322;
  border-radius: 16px;
}

.poker1 {
  width: 40px;
}

.cardtop {
  display: flex;
  transform: translateY(-10px);
  justify-content: space-between;
  grid-row: 1/2;
  height: 40px;
  width: 300px;
}

.cardcenter {
  grid-row: 2/3;
  height: 295px;
  padding: 5px;
  align-items: center;
  text-align: center;
}

.cardbottom {
  display: flex;
  justify-content: space-between;
  grid-row: 3/4;
  height: 40px;
  width: 300px;
}

.gofishimg img {
  width: 90%;
}

.h3class {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.4rem;
  margin: 0.5rem;
  margin-top: -0.5rem;
}

.h2class {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin: 0.5rem;
}
